<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Sharif University of Technology</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><a href="tel:+989203187535">+98 (920) 318 7535</a></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><a href="tel:+13146493989">+1 (314) 649 3989</a></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.emailedu }}">{{ site.author.emailedu }}</a></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://alirezahabib.me">https://alirezahabib.me</a></li>
  </ul>
</div>
