@keyframes pulse {
  from {
    opacity: .4;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-1rem);
  }

  to {
    opacity: .4;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .particles-scroll .particles-icon {
    animation: none;
  }
}
